/* Path: css/styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #404040;
    font-weight: 400;
    margin: 0;
}

/* =================
   Typography 
   ================= 
*/

h1 {
    font-size: 2.5rem; 
    font-weight: 400;
    margin: 0 0 1rem 0;
}

h1 + p,
h2 + p,
.top-text {
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
} 

h1 + p {
    font-size: 1.3125rem;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    font-weight: 900;
    margin: 0;
}

h2 + p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 3em;
}

.top-text {
    font-size: 0.625rem;
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    padding-top: .375em;
    margin: 0 auto;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(270deg, #FF895D 0%, #DF4E13 0%, #FFA51D 100%)1;
}

.text-bold {
    font-weight: 900;
    display: block;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

/*  
    ======================
    header- intro section 
    ======================
*/

.intro {
    background: url(../images/ribs.jpg), 
        linear-gradient(45deg, rgb(28, 25, 25) 0%, #69676d) 
        no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 0em .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

/*  
====================
main-content section
====================
*/

.main-content {
    padding: 2em 1.5em;
    margin: 0 auto;
}

/*  
=================
container section
=================
*/

.container {
    max-width: 400px;
    margin: 0 auto;
    
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

/* 
============
form section
============
*/

.email-collector {
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

input,
.btn {
    width: 100%;
    text-align: inherit;
    border-radius: 7px;
}

input {
    font-family: inherit;
    border: 1px solid #818181;
    padding: .5em;
    border-radius: 5px;
    margin-bottom: 0.75em;
}

.btn {
    display: inline-block;
    font-size: 0.625rem;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-primary {
    background: transparent linear-gradient(270deg, #FF713B , #FFA51D);
    color: #ffffff;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

input,
.btn-primary {
    transform: scale(1);
    transition: transform 250ms;
}

input:focus,
.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.1);
} 

/*  
    =============
    media queries 
    =============
*/

@media (min-width: 560px) {

    body {
        font-size: 1.125rem;
    }
    
    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .section{
        display: flex;
    }

    .intro, 
    .main-content {
        min-height: 100vh;
        width: 50%;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container-intro {
        height: 100%;
    }
}