/* Path: css/styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #404040;
    font-weight: 400;
    margin: 0;
}

/* =================
   Typography 
   ================= 
*/

h1 {
    font-size: 2.5rem; 
    font-weight: 400;
    margin: 0 0 1rem 0;
}

h1 + p,
h2 + p,
.top-text {
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
} 

h1 + p {
    font-size: 1.3125rem;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    font-weight: 900;
    margin: 0;
}

h2 + p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 3em;
}

.top-text {
    font-size: 0.625rem;
    letter-spacing: 1.5px;
    opacity: 1;
    order: -1; 
    padding-top: 0.5em; 
    margin: 0;
}

.text-bold {
    font-weight: 900;
    display: block;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

/*  
    ======================
    header- intro section 
    ======================
*/

.intro {
    background: #404040;
    background: url(../images/dark-ribs.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    padding: 0em .5em 2em;
}

/*  
====================
main-content section
====================
*/

.main-content {
    padding: 2em 1.5em;
    margin: 0 auto;
}

/*  
=================
container section
=================
*/

.container {
    max-width: 400px;
    margin: 0 auto;
    
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

/* 
============
form section
============
*/

.form {
    max-width: 337px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
}

input {
    text-align: center;
    padding: .75em 3em;
    border: 1px solid #818181;
    border-radius: 7px;
}

.btn {
    background: transparent linear-gradient(270deg, #FF713B 0%, #FFA51D 100%);
    color: #fff;
    font-weight: 900;
    border: none;
    border-radius: 7px;
    padding: 0.75em 4em;
    margin-top: 1em;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}



/*  
    =============
    media queries 
    =============
*/

@media (min-width: 520px) {

    body {
        font-size: 1.125rem;
    }
    
    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .section{
        display: flex;
    }

    .intro, 
    .main-content {
        min-height: 100vh;
        width: 50%;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container-intro {
        height: 100%;
    }
}